
@keyframes juanma{
    0%{left:0}
    30%{left:15%}
    40%{left:30%}
    50%{left:80%}
    100%{left:0}
}
@keyframes jorgeeliecer{
    0%{left:-300px; top:0}
    30%{left:-200px; top:30px}
    70%{left:-100px; top:0}
    80%{left:0px; top:30px}
    100%{left:50px; top:0}
}
body{
    background:lightblue;
}
h1{
    animation:juanma 2 alternate 5s;
    color:darkblue;
    position:relative;
    width:fit-content;
}
.contenedor{
    align-items:center;
    border:solid;
    display:flex;
    height:450px;
    gap:20px;
    justify-content:center;
}

.contenedor div{
    border:solid;
    /*height:200px;*/
    /*width:200px;*/
}
.contenedor div img{
    filter:sepia(1);
    width:100%;
    transition:all 0.5s linear;
}
.contenedor div img:hover{
    filter:sepia(0);
    transform:scale(2,2) rotate(10deg);
}

.capafondo{
    animation:jorgeeliecer 5s alternate 2;
    left:-400px;
    position:absolute;
    width:400px;
    top:0;
    z-index:-1;
}
.capafondo img{
    width:100%;
}
.cuadro{
    display:block;
    height:500px;
    margin:0 auto;
    width:80%;
}
.parte1{
    background:orange;
}
.parte2{
    background:tomato;
}
.parte3{
    background:darkblue;
}
@media print{
    .parte1,.parte3,button{
        display:none;
    }
    .contenedor div{
        width:100%;
    }
}

@media screen and (max-width:700px){
    button{
        display:none;
    }
    .contenedor{
        flex-direction:column;
    }
    .contenedor div{
        width:100%;
    }
    .parte3{
        order:2;
    }
    .parte2{
        order:1;
    }
    .parte1{
        order:3;
    }


    @keyframes javier{
        0%{
            background:lightblue;
        }
        50%{
            background:darkblue;
            color:white;
            
        }
        100%{
            background:lighblue;
            color:#000;
        }
    } 
    body{
        animation:javier   1s;
        /* background:red; */
    }
    h1{
        color:white;
    }
}